@media (min-width: 1536px) {
  :root {
    --sl-content-width: 62.5rem;
  }
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
